.euro_club_data {
    display: flex;
    flex-wrap: wrap;
}

.euro_image_cover {
    width: 20%;
}

.euro_image {
    width: 100%
}

.table_header{
    border: 1px solid #000060;
    text-align: center;
    color: white;
    background: #000060;
}

.table__content {
    font-size: 18px;
    padding-top: 5px;
}